In [1]:
import pymysql

In [9]:
credential_dict = {
    "host": "127.0.0.1",
    "port": 3306,
    "user": "root",
    "passwd": "root",
    "db": "TESTDB",
    "charset": "utf8mb4",
}

In [10]:
conn = pymysql.connect(**credential_dict)

In [11]:
def test(a, b):
    print(a)
    print(b)

test_dict = {"a": "123", "b": "321"}

test(**test_dict)

123
321

In [12]:
cursor = conn.cursor()

In [13]:
sql = """
    INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
    VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

cursor.execute(sql)

1

In [16]:
conn.commit()

In [15]:
cursor.execute(sql)

IntegrityError: (1062, "Duplicate entry '001' for key 'staff.PRIMARY'")

In [17]:
import time
t = time.localtime()
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)

# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Judy', '002', 30, 'F', 48000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)
conn.commit()

In [18]:
sql = """
    SELECT * FROM Staff;
"""

cursor.execute(sql)

2

In [19]:
cursor.fetchone()

('001',
 'Mike',
 '002',
 45,
 'M',
 60000,
 datetime.datetime(2020, 4, 24, 14, 59, 57))

In [20]:
cursor.fetchone()

('002', 'Judy', '002', 30, 'F', 48000, datetime.datetime(2023, 4, 15, 10, 11))

In [21]:
cursor.fetchone()

In [22]:
cursor.execute(sql)

2

In [23]:
data = cursor.fetchall()

In [24]:
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Judy',
  '002',
  30,
  'F',
  48000,
  datetime.datetime(2023, 4, 15, 10, 11)))

In [25]:
cursor.close()

In [26]:
conn.close()